:root {
  --dark-cyan-400: hsl(158, 36%, 37%);
  --cream-200: hsl(30, 38%, 92%);

  --very-dark-blue-900: hsl(212, 21%, 14%);
  --dark-grayish-blue-400: hsl(228, 12%, 48%);
  --white-100: hsl(0, 0%, 100%);

  --ff-accent: 'Fraunces', serif;
  --ff-base: 'Montserrat', sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
General styling
*/
body{
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 0.875rem;
  color: var(--dark-grayish-blue-400);
  background-color: var(--cream-200);

  /* for this project only */
  display: grid;

  /*If for some reason the centering does not work, add the min height attr below, uncomment. But it seems to be working*/
  /*min-height: 100vh;*/
  place-content: center;
  margin: 1rem;
}

/* utilities */
.flex-group{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/*
Product styles
*/

.product{
background-color: var(--white-100);
border-radius: 0.5rem;
overflow: hidden;
}